doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/external/backbone.js')
    script(src='/javascripts/external/backbone.js')
    script(src='/javascripts/external/backbone.js')
  body
    block content